Package: emt.paisseon.paibloxx
Name: PaiBloxx
Version: 1.0
Architecture: iphoneos-arm
Description: A safe ad-blocker for iOS
Maintainer: Paisseon
Author: Paisseon
Section: Tweaks
Depends: firmware (>= 12.0), com.bingner.plutil|plutil, com.opa334.ccsupport
Conflicts: net.myxxdev.mybloxx12, net.myxxdev.mybloxx13, net.myxxdev.mybloxx14
SileoDepiction: https://paisseon.github.io/depictions/paibloxx.json
Depiction: https://paisseon.github.io/depictions/ButNobodyCame.html
