Package: emt.paisseon.paibloxx
Name: PaiBloxx
Version: 0.4b
Architecture: iphoneos-arm
Description: Auto-updating systemwide ad blocker for iOS
Maintainer: Paisseon
Author: Paisseon
Section: Tweaks
Depends: firmware (>= 13.0), com.pheux.fixrandomresprings
Conflicts: net.myxxdev.mybloxx12, net.myxxdev.mybloxx13, net.myxxdev.mybloxx14
SileoDepiction: https://paisseon.github.io/info/paibloxx.json
